<!-- src/app/app.component.html -->
<div class="min-h-screen bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark transition-colors duration-300">
  <!-- Toasts -->
  <app-toast-container></app-toast-container>

  <!-- Navbar -->
  <app-navbar
    [isDarkMode]="isDarkMode"
    (toggleDarkMode)="toggleDarkMode()"
    class="transition-colors duration-300"
  ></app-navbar>

  <!-- Contenido principal -->
  <main class="px-4 py-6 sm:px-8 lg:px-16">
    <router-outlet></router-outlet>
  </main>
</div>